@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?ke09ed');
  src: url('../fonts/icomoon.eot?ke09ed#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ke09ed') format('truetype'),
    url('../fonts/icomoon.woff?ke09ed') format('woff'),
    url('../fonts/icomoon.svg?ke09ed#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e900";
}

.icon-shopping-cart_216477:before {
  content: "\e906";
}

.icon-clock:before {
  content: "\e90d";
}

.icon-Instagram:before {
  content: "\e901";
}

.icon-mail:before {
  content: "\e904";
}

.icon-call:before {
  content: "\e903";
}

.icon-location:before {
  content: "\e90a";
}

.icon-search:before {
  content: "\e902";
}

.icon-fb:before {
  content: "\e905";
}

img {
  max-width: 100%;
  display: inline-block;
  height: auto;
  vertical-align: top;
}

a {
  color: inherit;

  &:hover {
    color: #fff;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.holder-contacts {
  background-color: #353b44;
  color: #fff;

  li {
    display: inline-block;
  }

  a {
    display: inline-block;
    vertical-align: middle;
    padding: 0.9rem;

    &:hover {
      color: #acd263;
    }
  }

  .icon-shopping-cart_216477 {
    font-size: 1.8rem;
  }

  .div {
    position: relative;
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    box-shadow: inherit;

    i {
      color: #8f8f8f;
    }
  }

  .form-control {
    padding-right: 0rem;
    // &:focus {
    //   color: #495057;
    //   background-color: #fff;
    //   border-color: inherit;
    //   outline: 0;
    //   box-shadow: inherit;
    // }

  }
}

.form-control,
.btn,
.custom-select {
  &:focus {
    color: #495057;
    background-color: #fff;
    border-color: inherit;
    outline: 0;
    box-shadow: inherit;
  }
}

// input[type=search]::-ms-clear {
//   display: none;
//   width: 0;
//   height: 0;
// }

// input[type=search]::-ms-reveal {
//   display: none;
//   width: 0;
//   height: 0;
// }


input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}


.logo img {
  color: red;
}

main {
  h1 {
    color: #434b56;
  }
}

.holder-filters {
  .btn {
    border-color: #495057;
    &:hover {
      background-color: #7aa14d;
      color: #ffffff;
      border-color: #ffffff;
    }
  }  
    @media screen and (min-width: 768px) {
    .btn, select, input {
      font-size: 0.9rem;
      padding: 0;
      padding: 0.18rem .75rem;
    }  
  }
  .create-pizza {
    padding: 0.6rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    background-color: #f5f5f5;
    &:hover {
      color: #ffffff;
      background-color: #7aa14d;
      border-color: #ffffff;
    }
  }
}

.holder-pizzas-list {
  margin: 0 -15px;
}

.hold-card {
  position: relative;
  width: 50%;
  padding: 0 7px;
  margin-bottom: 1.5rem;

  @media screen and (min-width: 575px) {
    width: 50%;
  }

  @media screen and (min-width: 768px) {
    padding: 0 15px;
  }

  @media screen and (min-width: 992px) {
    width: 33%;
  }
}

.card {
  text-align: center;
  padding: 0.8rem;
  width: 100%;
  min-height: 100%;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0);
  }

  h3 {
    font-size: 1.35rem;

    @media screen and (min-width: 768px) {
      font-size: 1.8rem;
    }
  }

  .pizza-card {
    &__name {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
    }

    &__favor {
      position: absolute;
      right: 20px;
    }

    &__composition {
      font-size: 0.7rem;
      color: #686868;
      flex-grow: 1;
      font-style: italic;
      height: auto !important;

      @media screen and (min-width: 575px) {
        font-size: 0.8rem;
      }

      @media screen and (min-width: 768px) {
        font-size: 0.9rem;
      }
      @media screen and (min-width: 1024px) {
        font-size: 1rem;
      }
    }

    &__caloricity {
      font-weight: bold;
    }

    &__price {
      font-weight: bold;
      font-size: 1rem;
      color: green;

      @media screen and (min-width: 768px) {
        font-size: 1.2rem;
      }
    }

    &__button {
      background-color: #7aa14d;
      text-transform: uppercase;
      font-weight: bold;
      border: none;
      color: #fff;
      padding: 0.2rem 0;
      font-size: 0.8rem;

      @media screen and (min-width: 768px) {
        padding: 0.5rem 0;
        font-size: 1rem;
      }

      &:hover {
        background-color: #88a863;
      }
    }

    &__favor {
      button {
        border: none;
        background-color: inherit;
      }
    }
  }

  li {
    display: inline-block;
  }

  .card-img-top {
    min-height: 138px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 400px) {
      min-height: 163px;
    }

    @media screen and (min-width: 768px) {
      min-height: 182.41px;
    }
  }
}

// slider
.holder-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  .slider {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 13rem;
    padding: 0.8rem;
    border: 1px solid #CCC;
    border-radius: 0.2rem;
    background: #ffffff;
    .holder-slider-item {
      width: 100%;
      @media screen and (min-width: 768px) {
        width: 70%;
      }
      @media screen and (min-width: 992px) {
        width: 40%;
      }
      .slide-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
    }
  }
}

// end slider

// modal
.pizza-info {
  display: none;
  position: relative;
  z-index: 3;
  top: 10%;
  left: 30%;
  &__card {
    width: 25rem;
    position: absolute;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgb(255, 254, 254);
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7), 0 4px 10px rgba(0, 0, 0, 0);
  }
  &__header {
    padding: 1rem 0;
    h3 {
      text-align: center;
      font-size: 2rem;
    }
  }
  &__body {
    span {
      font-size: 1.3rem;
      font-weight: bold;
      color: #245324;
      margin-bottom: 1rem;
    }
  }
  &__close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 1px 1px 3px #000;
    &:hover { background: rgb(9, 26, 10); }
  }
  &__composition {
    padding-bottom: 1rem;
  }
  &__price {
    color: #2f882f;
    font-size: 1.2rem;
    font-weight: bold;
  }

}

// end modal


footer {
  h2 {
    font-size: 1.3rem;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
  }

  i {
    font-size: 1rem;

    @media screen and (min-width: 768px) {
      font-size: 1.2rem;
    }
  }

  a {
    padding: 0.5rem;
    font-size: 0.9rem;

    @media screen and (min-width: 768px) {
      font-size: 1rem;
    }
  }
}

.pink {
  color: #225e45;
  font-weight: bold;
}